
:coffeescript
  $(document).ready ->
    debug = (string) ->
      element = document.getElementById("debug")
      p = document.createElement("p")
      p.appendChild document.createTextNode(string)
      element.appendChild p
    window.debug = debug

    # set initial reconnection timeout to 2 seconds
    window.prev_reconnect_on = 1
    window.reconnect_on = 2
    initSocket = ->
      Socket = (if "MozWebSocket" of window then MozWebSocket else WebSocket)
      localStorage["key"] = "#{session[:key]}"
      localStorage["index"] = JSON.stringify []
      web_socket = new Socket("ws://localhost:8080/")
      window.web_socket = web_socket

      web_socket.onopen = ->
        # reset reconnection timeouts
        window.prev_reconnect_on = 1
        window.reconnect_on = 2
        debug "connected..."
        web_socket.send JSON.stringify(
          key: localStorage["key"]
          subscribe: true
        )

      web_socket.onmessage = (evt) ->
        # fetch data from localstorage
        key = localStorage["key"]
        index = JSON.parse(localStorage["index"])
        data = JSON.parse(evt.data)
        if data.index?
          data.index[data.index.length] = key unless key in data.index
          index = data.index
        index[index.length] = data.key  if data.subscribe?
        index.delete data.key if data.unsubscribe
        # save index to localstorage
        localStorage["index"] = JSON.stringify(index)
        debug evt.data
        # check the checksum
        debug crc32(data.msg) == data.crc if data.crc?
        debug localStorage["index"]

      web_socket.onclose = ->
        localStorage["index"] = JSON.stringify []
        debug "socket closed"
        debug localStorage["index"]
        debug "reconnecting in \#{window.reconnect_on} seconds..."
        setTimeout (->
          initSocket()
        ), window.reconnect_on * 1000
        # increase the timeout fibonacciwise in order to decrease the network load
        tmp = window.reconnect_on
        window.reconnect_on = window.reconnect_on + window.prev_reconnect_on
        window.prev_reconnect_on = tmp

    if Modernizr.localstorage and Modernizr.websockets
      initSocket()

#debug

:coffeescript
  $(document).ready ->
    if Modernizr.localstorage and Modernizr.websockets
      $(document).click ->
        web_socket = window.web_socket
        # fetch data from localstorage
        key = localStorage["key"]
        index = JSON.parse localStorage["index"]
        dest = index.pop() until (dest? and dest != key) or index.empty()
        if dest?
          msg = "Hello"
          web_socket.send JSON.stringify(
            key: key
            dest: dest
            msg: msg
            crc: crc32(msg) # crc checksum
          )