
:javascript
  $(document).ready(function(){
    function debug(string) {
      var element = document.getElementById("debug");
      var p = document.createElement("p");
      p.appendChild(document.createTextNode(string));
      element.appendChild(p);
    }

    var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
    var ws = new Socket("ws://localhost:8080/");
    ws.onmessage = function(evt) { debug("Message: " + evt.data); };
    ws.onclose = function() { debug("socket closed"); };
    ws.onopen = function() {
      debug("connected...");
      ws.send("#{session[:key]}");
    };
    
  })

#debug