
:coffeescript
  $(document).ready ->
    debug = (string) ->
      element = document.getElementById("debug")
      p = document.createElement("p")
      p.appendChild document.createTextNode(string)
      element.appendChild p
    Socket = (if "MozWebSocket" of window then MozWebSocket else WebSocket)
    ws = new Socket("ws://localhost:8080/")
    window.ws = ws
    key = "#{session[:key]}"
    window.key = key
    window.index = []
    ws.onmessage = (evt) ->
      data = JSON.parse(evt.data)
      if data.index?
        data.index[data.index.length] = key unless key in data.index
        window.index = data.index
      window.index[window.index.length] = data.key  if data.subscribe?
      window.index if data.unsubscribe
      debug evt.data
      debug JSON.stringify(window.index)
  
    ws.onclose = ->
      ws.send JSON.stringify(
        key: key
        unsubscribe: true
      )
      debug "socket closed"
  
    ws.onopen = ->
      debug "connected..."
      ws.send JSON.stringify(
        key: key
        subscribe: true
      )

#debug

:coffeescript
  $(document).ready ->
    $(document).click ->
      ws = window.ws
      index = window.index
      dest = index[index.length - 1]
      dest = index[index.length - 2]  if dest == key and index.length >= 2
      unless !dest
        ws.send JSON.stringify(
          key: key
          dest: dest
          msg: "Hello"
        )