// Place all the styles related to the replicas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
  font-family: Verdana, sans-serif

.container
  clear: both
  border: 1px solid Gainsboro
  margin-bottom: .5em
  padding-left: 1px
  padding-top: 1px
  padding-bottom: 1px

#offline_queue
  height: 5em
  overflow: hidden

  .color_column
    float: left
    width: 5%
    height: 5em
    overflow: hidden

    .color_stub
      height: 5em

    .color_box
      height: 32px
      
      div
        height: 29px

#queue
  height: 5em
  overflow: hidden

  .color_column
    float: left
    width: 5%
    height: 5em
    overflow: hidden

    .color_stub
      height: 5em

    .color_box
      height: 32px
      
      div
        height: 29px

#data
  height: 20.5em
  overflow: hidden

  .color_column
    float: left
    width: 5%
    overflow: hidden

    .color_stub
      height: 64px

    .color_box
      height: 64px
      
      div
        height: 58px
        

.button
  cursor: pointer
  float: left
  padding: 1em
  margin-bottom: .5em
  margin-right: .5em
  border: 1px solid Gainsboro

  &:hover
    border-color: SlateGrey

.start, .log, .online, .speed
  color: black
  background-color: Azure
  /* for webkit browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(Azure), to(LightCyan))
  /* for firefox 3.6+ */
  background: -moz-linear-gradient(top,  Azure,  AliceBlue)

.speed
  display: none

.stop, .clear, .offline
  color: white
  background-color: Crimson
  /* for webkit browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(Crimson), to(DarkRed))
  /* for firefox 3.6+ */
  background: -moz-linear-gradient(top,  Crimson,  DarkRed)

.arresto
  margin-right: 0px
  margin-left: .5em
  float: right
  color: white
  background-color: DimGray
  /* for webkit browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(DimGray), to(DarkSlateGray))
  /* for firefox 3.6+ */
  background: -moz-linear-gradient(top,  DimGray,  DarkSlateGray)

.clear, .arresto
  &:active
    color: black

.button.disabled
  color: Silver
  background-color: WhiteSmoke
  /* for webkit browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(WhiteSmoke))
  /* for firefox 3.6+ */
  background: -moz-linear-gradient(top,  white,  WhiteSmoke)

  &:hover
    border-color: Gainsboro


#debug
  padding: 1em
  padding-bottom: 0px
  clear: both
  height: 11em
  overflow: hidden
  overflow-y: auto
  border: 1px solid Gainsboro
  margin-bottom: .5em

#footer
  margin-top: 1em

  #logo
    float: left
    width: 30%

  #id
    padding-top: 20px
    float: left
    width: 70%
    height: 64px
    text-align: right
    color: Gainsboro